.idea/
.vscode/
*.uml
*.iml
*.bin
bin/
*.log
.drivers/
frontend/**/node_modules/
frontend/**/dist/
.DS_Store
frontend/server
**/*-secret.yaml
epm.env
epm-prod.env
*.env


out/
**/target/
**/webdriver-java/drivers/
