go 1.22.0

toolchain go1.23.1

use (
	./backend
	./cmds/clipboard
	./cmds/extension-installer
	./cmds/recorder
	./common/storage
	./example/webdriver-go
	./jobs/browser-updater
	./jobs/session-archiver
	./operator
)
