from selenium import webdriver
        
capabilities = {
    "browserName": "{{{.BrowserName}}}",
    "browserVersion": "{{{.BrowserVersion}}}",
    "selenoid:options": {
        "enableVideo": False
    }
}

driver = webdriver.Remote(
    command_executor="http://localhost:4444/wd/hub",
    desired_capabilities=capabilities)