$primaryLight: #42a5f5;
$primary: #1976d2;
$primaryDark: #1565c0;
$secondaryLight: #ba68c8;
$secondary: #9c27b0;
$secondaryDark: #7b1fa2;
$errorLight: #ef5350;
$error: #d32f2f;
$errorDark: #c62828;
$warningLight: #ff9800;
$warning: #ed6c02;
$warningDark: #e65100;
$infoLight: #03a9f4;
$info: #0288d1;
$infoDark: #01579b;
$successLight: #4caf50;
$success: #2e7d32;
$successDark: #1b5e20;
$black: #000;
$white: #fff;
$gray300: #A2AAB5;
$gray200: #C1C7D0;
$gray100: #E3E7EC;
$background100: #F7F7F8;
$background200: #ECEFF4;
$topaz: #00829B;
$topaz-focused: #00B0D1;
$topaz-hover: #009DBB;
$topaz-pressed: #00758C;
$almostDark: #3F3F3F;

:export {
  primaryLight: $primaryLight;
  primary: $primary;
  primaryDark: $primaryDark;
  secondaryLight: $secondaryLight;
  secondary: $secondary;
  secondaryDark: $secondaryDark;
  errorLight: $errorLight;
  error: $error;
  errorDark: $errorDark;
  warningLight: $warningLight;
  warning: $warning;
  warningDark: $warningDark;
  infoLight: $infoLight;
  info: $info;
  infoDark: $infoDark;
  successLight: $successLight;
  success: $success;
  successDark: $successDark;
  black: $black;
  white: $white;
  gray300: $gray300;
  gray200: $gray200;
  gray100: $gray100;
  background100: $background100;
  background200: $background200;
  topaz: $topaz;
  topaz-focused: $topaz-focused;
  topaz-hover: $topaz-hover;
  topaz-pressed: $topaz-pressed;
  almostDark: $almostDark;
}
